
/* Style the navigation menu */
#mobileNav {
    top: 0;
    left: 0;
    background: #2a2626;
    position: fixed;
    height: 6.5vh;
    width: 100vw;
    display: none;
}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
#mobileNav #myLinks {
    display: none;
    top: 10vh;
    height: 40vh;
    background: #2a2626;
    width: 100%;
}
  
  /* Style navigation menu links */
  #mobileNav a {
    color: white;
    padding: 1vh 5vw;
    text-decoration: none;
    font-size: 3vh;
    display: block;
    font-family: poppins;
    letter-spacing: .9vh;
    text-align: left;

  }
  
  /* Style the hamburger menu */
  #mobileNav a.icon {
    background:#2a2626;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
 
/* Style the active link (or home/logo) */
#mobileLogo {
    background-color: #2a2626;
    color: white;
  }

#mobileLogo a {
  margin-top: 2vh;
  margin: 2vw;
  padding: .5vh .75vh .5vh 1vh;
  float: right;
  text-decoration: none;
  font-size: 2vh;
  font-family: poppins;
  color: #fff;
  letter-spacing: .7vh;
  border: solid;
  border-width: .25vh;
}


* {
	margin: 0;
    padding: 0;
}

/*-------------------General------------------*/
body {
    text-align: center;  
    background: #e7c9c9da;  
    position: absolute;
    width: 100vw;
}

html {
    background-color: #2a2626;
}

/*-------------------nav bar------------------*/
.wrapper {
	width: 100vw;
    margin: 0 0vw;  
}

header {
	height: 7vw;
	background: #2a2626;
	width: 100%;
	z-index: 100;
    position: fixed;
    top: 0vw;
}
.logo {
    margin-right: 0vw;
    width: 25vw;
	float: left;
    line-height: 7.2vw;
    
}
.logo a {
    padding: .5vw .75vw .5vw 1vw;
    
    text-decoration: none;
	font-size: 2vw;
	font-family: poppins;
	color: #fff;
    letter-spacing: .7vw;
    border: solid;
    border-width: .25vw;
}
nav {
    width: 100vw;
    float: inline-end;
	line-height: 7vw;;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: .5vw;
	font-size: 1.3vw;
	margin: 0 .6vw;
	color: #fff;
}

nav a:hover {
	color: rgb(255, 189, 189);
}

#aboutMargin {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
	position: absolute;
    top: calc(100vh - 7vw);
    height: 7vw;
    left: 0;

}

.linkable::before {
    content:"";
    display:block;
    height:7vw; 
    margin-top: -7vw;
    visibility: hidden;
    background-color: #2a262600;
  }

/*-------------------picture------------------*/
.banner-area {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 6vw;
	background-image: url(IMG_1449.png);
	-webkit-background-size: cover;
	background-size: cover;
    background-position: 86%;
    z-index: 1;
}

/*-------------------General content------------------*/
.content-area {
	width: 100vw;
	position: absolute;
	top: 100vh;
    left: 0;
    margin: 0;
    z-index: 2;
    background: #e7c9c9da; 
    overflow-x:hidden
}

.content-area h1 {
    font-family: poppins;
    letter-spacing: .3vw;
    margin-top: 3vh;
}
.content-area h2 {
	font-family: poppins;
}

section p {
    font-size: .7vh;
    padding: 1vh 3vw 1vh 3vw;
    font-size: 4 vw;
	font-family: poppins;
    line-height: 4vh;
    text-align: justify;
}

section h1 {
    font-size: 2vh;
}
section h2 {
    font-size: 1.5vh;
    margin: 1vh;
    font-size: 1.5vh;
    text-align: left;
}

section a {
  font-family: poppins;
  text-decoration: none;

}

table {
  margin : 1vh 1vw 1vh 1vw;
}

table td {
  font-size: 1.5vh;
  font-family: poppins;
  text-align: center;
  text-size-adjust: none;
  padding: 1vh 1vw 1vh 1vw;
}

table th{
    font-size: 1.8vh;
    font-family: poppins;
    text-align: center;
    text-size-adjust: none;
}

/*-------------------About------------------*/

#About h1 {
    padding-top: 1vh;
    margin-top: 2vh;
}

/*------------------Education-----------------*/


.Description {
    text-align: justify;
}


iframe {
    background: none;
    height: calc(100vh - 6.5vh);
    width: 100%;
    z-index: 10000;
}

#firstProgram {
    width : 40vw;
    height: 40vw;
    float:right;
    margin: 1vw;
    margin-top: 4vh;
    position:relative;
    top: 1vw;
}

/* Wok */




/* Contact */




